.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  flex-grow: 1;
  box-shadow: 2px 2px 55px rgba(0, 0, 0, 0.08);
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.iconWrapper {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.valueWrapper {
  background: #ecf1f9;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
