.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-width: 35rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.optionItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
