.container {
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  max-width: 44rem;
  min-height: 15rem;
  padding: 1rem 2rem;
}

.duration {
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}

.regionInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
