.duration {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  width: fit-content;
}

.listingInfo {
  min-width: 350px;
  padding: 1em;
}