@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.iconWrapper {
  margin: 0.5rem;
  margin-left: 0;
  width: 2rem;
  height: 2rem;
  background-color: $greenPrimary;
  border-radius: .5rem;
  padding: 0.2rem;
}

.infoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}