.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 8rem;
  padding: 1rem;
  height: auto;
  color: #757575;
}

.button {
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 1rem 0;
}