.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  flex-grow: 1;
  min-height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}
