.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding: 2rem 1rem;
  overflow-y: hidden;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 12rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 5rem;
  padding-top: 2rem;
  flex-grow: 1;
}
