.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5rem;
  flex-grow: 1;
  margin-right: 3rem;
}

.connectWallet {
  background:linear-gradient(180deg, #E84D68 0%, #AD2B49 100%);
  border-radius: 100px;
  font-weight: 500;
  text-transform: none;
  padding: 0.5rem 1.25rem;
  font-size: 0.8rem;
}

.connectWallet:hover {
  opacity: 0.8;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 0;
}

.accountsWrapper {
  background: white;
  position: absolute;
  border-radius: 0.5em;
  top: 0;
  width: 240px;
}

.accountsList {
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 0;
}

.accountsList::-webkit-scrollbar {
  display: none;
}