.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-width: 35rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0 1rem 0;
}

.taskWrapper,
.finalityWrapper {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  gap: 1rem;
}

.alert {
  max-width: 32rem;
  align-items: center;
  margin: 0 auto;
  background-color: white;
}