.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.menuItem {
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 0;
  margin: 0.75rem 0;
  text-transform: capitalize;
  font-weight: 700;
}

.active {
  text-decoration: underline;
}

.menuItem:hover {
  opacity: 0.8;
}

.statusContainer {
  position: fixed;
  bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.networkSelector {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuItem.disabled {
  color: #ccc;
  cursor: not-allowed;
}