.sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background-color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem 0;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.menuContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
  position: fixed;
  bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.networkSelector {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuIcon {
  width: 1.5rem;
}

.menuItem {
  line-height: 1;
  flex-grow: 1;
}

.active {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: black;
}