.container {
  display: flex;
  flex-direction: column;
  min-width: 35rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 2rem 0 1rem 0;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
}
