.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2em;
  padding: 1.5em;
  border-radius: .5em;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.gridItem {
  color: #181336
}