.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-width: 35rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0 1rem 0;
}

.timeContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
  box-shadow: 2px 2px 55px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

.unitWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unitItems {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.activeUnitItem {
  border-radius: 1rem;
  background-color: var(--greenPrimary);
  color: white;
}

.unitItem {
  text-transform: capitalize;
}

.unitItem,
.activeUnitItem {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
}

.timeSlider {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}