$yellowDark: #F59E0B;
$yellowLight3: #FEF3C7;
$greenDark: #1A8245;
$greenLight6: #DAF8E6;
$orangeDark: #E1580E;
$orangeLight4: #FDE5D8;
$pinkDark: #C814F6;
$pinkLight4: #FCF1FE;
$cyan: #01A9DB;
$cyanLight3: #D0F0FD;
$redDark: #E10E0E;
$redLight4: #FDD8D8;
$purpleDark: #6D28D9;
$purpleLight4: #EDE9FE;
$teal: #02AAA4;
$tealLight3: #C2F5E9;
$blueDark: #1C3FB7;
$blueLight5: #E1E8FF;
$white: #fff;
$black: #000;
$lightGray: #f8f8f8;
$gray3: #E5E7EB;
$gray6: #CED4DA;
$dark: #111928;
$dark5: #6B7280;
$gray5: #CED4DA;
$greenPrimary: #0CC184;
$borderGray: #DFE4EA;
$sliderDisabled: #54596C;