@import '..//../../../../styles/mixins';
@import '..//../../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 30rem;
}

.durationTypes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.option,
.activeOption {
  border-radius: 0.5rem !important;
  text-transform: capitalize;
  flex: 1 0 auto;
}

.activeOption {
  background-color: $greenPrimary !important;
  color: white !important;
}

.option {
  border: 1px solid #cccccc !important;
  background-color: white;
  color: black;
}